<?xml version="1.0"?>
<!--
 *
 * @category   Inchoo
 * @package    Inchoo Google Adwords
 * @author     Domagoj Potkoc, Inchoo Team <domagoj.potkoc@surgeworks.com>
 * @author     Thomas Birke <tbirke@netextreme.de>
-->
<config>
    <modules>
        <Inchoo_Adwords>
            <version>2.0.0</version>
        </Inchoo_Adwords>
    </modules>
    <global>
        <blocks>
            <inchoo_adwords>
                <class>Inchoo_Adwords_Block</class>
            </inchoo_adwords>
        </blocks>
        <helpers>
            <inchoo_adwords>
                <class>Inchoo_Adwords_Helper</class>
            </inchoo_adwords>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <inchoo_adwords>
                    <file>inchoo_adwords.xml</file>
                </inchoo_adwords>
            </updates>
        </layout>
    </frontend>

    <default>
        <google>
            <analytics>
                <conversion_tracking_enabled>0</conversion_tracking_enabled>
                <conversion_id>0</conversion_id>
                <conversion_language>en</conversion_language>
                <conversion_format>1</conversion_format>
                <conversion_color>ffffff</conversion_color>
                <conversion_label>0</conversion_label>
            </analytics>
        </google>
    </default>
</config>
