<?xml version="1.0"?>
<!--
 *
 * @category   Inchoo
 * @package    Inchoo Google Adwords
 * @author     Domagoj Potkoc, Inchoo Team <domagoj.potkoc@surgeworks.com>
-->
<config>
    <modules>
        <Inchoo_Adwords>
             <version>1.0.0</version>
        </Inchoo_Adwords>
    </modules>
    <global>
        <blocks>
            <inchoo_adwords>
                <class>Inchoo_Adwords_Block</class>
            </inchoo_adwords>
        </blocks>
        <helpers>
            <inchoo_adwords>
                <class>Inchoo_Adwords_Helper</class>
            </inchoo_adwords>
        </helpers>
    </global>
    
    <frontend>
      <layout>
          <updates>
              <inchoo_adwords>
                  <file>inchoo_adwords.xml</file>
              </inchoo_adwords>
          </updates>
      </layout>
    </frontend>
    
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adwordsmodule>
											<title>Inchoo Extension</title>
										</adwordsmodule>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <adwordsmodule>
            <inchoad>
                <enabled>0</enabled>
                <google_conversion_id>0</google_conversion_id>
                <google_conversion_language>hr</google_conversion_language>
                <google_conversion_format>1</google_conversion_format>
                <google_conversion_color>ffffff</google_conversion_color>
                <google_conversion_label>0</google_conversion_label>	
            </inchoad>
        </adwordsmodule>
    </default>
	
</config>